#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider-trigger {
  position: relative !important;
  background: rgb(3,3,3) !important;
  transition: all 1.2s !important;
  -webkit-transition: all 1.2s !important;
  color: #bebebe !important;
  border-right: 2px solid #3f918d !important;
}
.ant-layout-sider {
  border-right: 2px solid #3f918d !important;
  position: relative;
  min-width: 0;
  background: rgb(44, 44, 44) !important;
  -webkit-transition: all 1.2s !important;
  transition: all 1.2s !important;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: #bebebe !important;
  background: rgb(44, 44, 44) !important;
}
.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: #bebebe !important;
  background: rgb(3,3,3) !important;
  border-right: 2px solid #3f918d !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-right: 2px solid #3f918d !important;
  background-color: black;
  background: rgb(3,3,3) !important;
}
.content {
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: scroll;
}
.icons{
  color: #3f918d !important;
  font-size: 36px;
  border: 3px solid #3f918d;
  border-radius: 100%;
  padding: 6px;
}
.green-bold{
  color: #3f918d;
}
.header{
  font-family: 'Work Sans', sans-serif;
  font-size: 38px;
  font-weight: 300;
  text-transform: capitalize;
}
.request-box{

}
.mail-id-contact {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.bug-report-contact {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.submit-button {
  color: white !important;
  background-color: #3f918d !important;
  padding: 7px 16px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
.submit-button:hover {
  color: #3f918d !important;
  border: 1px solid #3f918d !important;
  background-color: transparent !important;
  border-radius: 7px;
}
.form-label {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.ant-input {
  width: 80% !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}
.ant-input:hover {
  border-color: #3f918d !important;
  border-right-width: 1px !important;
}
.message-box {
  width: 75% !important;
}
.name-box {
  width: 79.5% !important;
}